name: Publish JSR
on:
  push:
    tags:
      - 'v*'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Publish package
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          mv .github/deno/jsr.json deno.json
          sed -i "s/\"version\": \".*\"/\"version\": \"$VERSION\"/" deno.json
          deno publish --allow-dirty