name: Publish NPM
on:
  push:
    tags:
      - 'v*'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish package
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          mv .github/npm/package.json package.json
          sed -i "s/\"version\": \".*\"/\"version\": \"$VERSION\"/" package.json
          npm publish --access public --provenance
